@use "../../assets/styles/variables.scss" as *;

.todo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-blue;
  padding: 15px;
  border: solid 4px $color-black;
  border-radius: 10px;
  height: 250px;
  overflow-y: scroll;

  &__date {
    font-size: 1.25rem;
    font-style: italic;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    &--update {
      height: 2.2rem;
      width: 2.2rem;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $color-white;
      color: $color-black;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }

    &--delete {
      height: 2.2rem;
      width: 2.2rem;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $color-black;
      color: $color-white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $color-white;
        color: $color-black;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
    &-thumb {
      background: $color-yellow;
    }
  }
}