.todo-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    gap: 25px;
    margin: 50px;
    justify-content: center;
}

.empty-list{
    margin: 2.5rem 0;
    text-align: center;
}