@use "./assets/styles/variables.scss" as *;
@use "./assets/styles/reset" as *;

html {
  background-color: $color-beige;
}

.app {
  min-height: 100vh;

  .nav-bar {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__title {
      text-decoration: none;
      color: $color-black;
    }
  }
}