@use "./assets/styles/variables.scss" as *;
@use "./assets/styles/reset" as *;

.app{

    
    background-image: linear-gradient($color-grey, $color-white);

    a {
        text-decoration: none;
        color: black;
        h1{
            font-family: $font-primary;
            font-size: 2.5rem;
        }  
    }
}
