@use "./assets/styles/variables.scss" as *;
@use "./assets/styles/reset" as *;

html{
    background-color: $color-beige;
}

.app{

    min-height: 100vh;

    .title {
        font-size: 2.5rem;
        
        &__link{
            text-decoration: none;
            color: $color-black;
        }  
    }
}
