@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

// breakpoints
$mobile-breakpoint: 320px;
$moblie-large-breakpoint: 425px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$desktop-large-breakpoint: 1440px;
$desktop-4k-breakpoint: 2560px;

//colors
$color-black: #2d3436;
$color-white: #ffffff;
$color-grey: #A0AAB2;
$color-beige: #e8d3b9;
$color-blue:  lightblue;
$color-yellow: #fdcb6e;
$text-color-green: #00b38a; 
$text-color-red: #ea324c;

//text 
$font-primary: "Shadows Into Light";


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    // adding display and width prevents margin collapse on these semantic text elements
    margin: 0.25rem 0;
    display: inline-block;
    width: 100%;
}

button {
    font-size: 1.5rem;
}

h1 {
    font-size: 2.25rem;
    font-family: $font-primary;
    color: $color-black;
}

p{
    font-size: 1.5rem;
    font-family: $font-primary;
    font-weight: bolder;
    color: $color-black;
}

a{
    font-size: 3rem;
    font-family: $font-primary;
    font-weight: bolder;
    color: $color-black;
}


@media screen and (min-width: $tablet-breakpoint) {
    // increases font-size of all items by 10%
    :root {
        font-size: 110%;
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    // increases font-size of all items by 20%
    :root {
        font-size: 120%;
    }
}